@{
    this.Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Intelligent Mission - Azure Government</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="~/styles.3e7a0d0e15a69e4f78dc.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container body-content applicationHost">
        <intelligent-mission-app>
            <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="">Intelligent Mission</a>
                </div>
            </nav>
            <h2>Loading Intelligent Mission...</h2>
        </intelligent-mission-app>
    </div>
    @*<script type="text/javascript" src="inline.bundle.js"></script>
        <script type="text/javascript" src="polyfills.bundle.js"></script>
        <script type="text/javascript" src="styles.bundle.js"></script>
        <script type="text/javascript" src="vendor.bundle.js"></script>
        <script type="text/javascript" src="main.bundle.js"></script>*@
    <script type="text/javascript" src="inline.318b50c57b4eba3d437b.bundle.js"></script>
    <script type="text/javascript" src="~/polyfills-es2015.72bbc237d94c3bcce91a.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/main-es2015.08adb862445d4f541ef5.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/runtime-es2015.1eba213af0b233498d9d.js" asp-append-version="true"></script>
</body>
</html>
