<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5eb1e6b2-2803-4b78-8a2e-26e3769b0124/resourcegroups/PersonalExplorationResources/providers/Microsoft.Web/sites/IntelligentMissionWeb20200421051030</ResourceId>
    <ResourceGroup>PersonalExplorationResources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://intelligentmissionweb20200421051030.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>7b4f628c-862c-4729-bdcc-423d86c0a778</ProjectGuid>
    <MSDeployServiceURL>intelligentmissionweb20200421051030.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IntelligentMissionWeb20200421051030</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IntelligentMissionWeb20200421051030</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>EricBrichettotorocom.onmicrosoft.com</ADDomain>
    <TargetFramework>net462</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
    <ADAppIDUri>https://EricBrichettotorocom.onmicrosoft.com/WebApp-intelligentmissionweb20200421051030.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>8a1a2441-d45a-4596-a19e-484c6e8f9c2c</ADClientAPPID>
    <ADClientPassword>Wu6Yceo/fgF6Qptzewmp1ltAPaPMXegNqren+yh1ooY=</ADClientPassword>
    <ADReplyUrl>https://intelligentmissionweb20200421051030.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>dca97054-12cb-4c65-a600-0f35ec6ff251</ADTenantId>
    <ADPostLogoutRedirectUri>https://intelligentmissionweb20200421051030.azurewebsites.net/</ADPostLogoutRedirectUri>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>